.event {
  background-color: blue;
  border-radius: 4px;
  position: absolute;
  height: 30px;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 12px;
}

.start_overlapping {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.end_overlapping {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.overLapping {
  position: absolute;
  border-style: solid;
  border-color: transparent;
}

.rightOverLapping {
  right: -7px;
  border-right-width: 0px;
  border-left-color: blue;
}

.leftOverLapping {
  left: -7px;
  border-left-width: 0px;
  border-right-color: blue;
}

.showMoreEvent {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
}
