.actionButtons {
  & button {
    padding: 5px 10px;
    border-radius: 0px;
    border: 1px solid #cdcdcd;
  }

  & button:first-child {
    border-radius: 5px 0px 0px 5px;
  }

  & button:last-child {
    border-radius: 0px 5px 5px 0px;
  }

  & button.active {
    background-color: #0a3364;
    color: #ffffff;
  }
}

.navigationBtnWrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
}
