.calendarView {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #d9dae5;
    border-left: 1px solid #d9dae5;
    & .tableRow {
      display: grid;
      grid-template-columns: repeat(
        var(--calendar-columns),
        var(--calendar-column-width, 1fr)
      );
      flex: 1;
      position: relative;
      min-width: min-content;
    }

    & .tableRow.showAllEvents {
      flex: unset !important;
      min-height: 150px;
    }
  
    & .tableHeaderRow {
      height: max-content;
      flex: none;
      min-height: unset;
      min-width: min-content;
  
      position: sticky;
      top: 0px;
      background: white;
      z-index: 11;
    }
  
    & .tableCol {
      border-bottom: 1px solid #d9dae5;
      border-right: 1px solid #d9dae5;
      text-align: right;
      padding: 10px;
      color: #383946;
    }
  
    & .notCurrentMonth {
      color: #cdcdcd;
    }
  
    & .headerCol {
      text-align: center;
      font-weight: 800;
    }
  }