.actionsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .rightActionWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  & .checkbox {
    display: flex;
    align-items: center;
  }
}

.container {
  height: 100%;
  display: grid;
  grid-template-rows: max-content 1fr;
  gap: 10px;
}
